      
      /* Cover Loader Div */
      .cover_loader_div {

        position: absolute;
        width: 100vw;
        height: 100vh;
        top: 0;
        left: 0;
        background-color: #fff;

      }

      .cover_loader_div > div{
        transform: translateY(-50%);
        top: 46%;
        margin: 0 auto;

      }

      .cover_loader_div > h3 {
        text-align: center;
        transform: translateY(-50%);
        top: 50%;
        margin: 0 auto;
        position: relative;
        font-size: 1.5rem;
        color: #00aced;
      }
      /* Cover Loader Div End */
      
      
      .swapping-squares-spinner, .swapping-squares-spinner * {
        box-sizing: border-box;
      }
  
      .swapping-squares-spinner {
        height: 65px;
        width: 65px;
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
      }
  
      .swapping-squares-spinner .square {
        height: calc(65px * 0.25 / 1.3);
        width:  calc(65px * 0.25 / 1.3);
        animation-duration: 1000ms;
        border: calc(65px * 0.04 / 1.3) solid #00aced;
        margin-right: auto;
        margin-left: auto;
        position: absolute;
        animation-iteration-count: infinite;
      }
  
      .swapping-squares-spinner .square:nth-child(1) {
        animation-name: swapping-squares-animation-child-1;
        animation-delay: 500ms;
      }
  
      .swapping-squares-spinner .square:nth-child(2) {
        animation-name: swapping-squares-animation-child-2;
        animation-delay: 0ms;
      }
  
      .swapping-squares-spinner .square:nth-child(3) {
        animation-name: swapping-squares-animation-child-3;
        animation-delay: 500ms;
      }
  
      .swapping-squares-spinner .square:nth-child(4) {
        animation-name: swapping-squares-animation-child-4;
        animation-delay: 0ms;
      }
  
      @keyframes swapping-squares-animation-child-1 {
        50% {
          transform: translate(150%,150%) scale(2,2);
        }
      }
  
      @keyframes swapping-squares-animation-child-2 {
        50% {
          transform: translate(-150%,150%) scale(2,2);
        }
      }
  
      @keyframes swapping-squares-animation-child-3 {
        50% {
          transform: translate(-150%,-150%) scale(2,2);
        }
      }
  
      @keyframes swapping-squares-animation-child-4 {
        50% {
          transform: translate(150%,-150%) scale(2,2);
        }
      }